

.classes{
    position:relative;
    height:6em;

}

.titles{
    margin-bottom:2em;
    margin-right:0em;
    top:0;    
    position:absolute;
    width:auto;

}
.location{
    position:absolute;
    top:1.5em;
    margin-right:30em;
    margin-left:0em;
    width:auto;

}
.time{
    position:absolute;
    width:auto;
    bottom:1.5em;
    right:0;

}
.day{
    position:absolute;
    width:auto;
    bottom:0;
    color:gray;
    font-size:14px;

}
.date{
    position:absolute;
    width:auto;
    right:0;
    bottom:0;

}

/*

.classes{
    position:relative;
    height:100px;
    width:100%;
    margin: 0 auto;

}

.titles{

    top:0%;
    height: auto;
    width: auto;
    position:fixed;
    
}
.location{
    position:fixed;
    //margin-top:0.2%;
    top:25%;
    width: auto;
    height: auto;

}
.time{
    position:fixed;
    //margin-left: 75%;
    //margin-top:1px;
    left:70%;
    bottom:25%;
    width: auto;
    height: auto;

}
.date{
    position:fixed;
    //margin-left: 75%;
    //margin-top:25px;
    bottom:5%;
    left:70%;
    width: auto;
    height: auto;

}
.day{
    position:fixed;
    //margin-top:25px;
    top:50%;
    width: auto;
    height: auto;
    color:gray;
    font-size:14px;

}
*/
    /*
    border-style: solid;
    border-width: 1px;
    */
